 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
#head{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.86);
    color: white;
    height:5rem;
    width:100vw;

}
.nav{
    height: 4rem;
 width: 100vw;
background-color: rgba(0, 0, 0, 0.86);


}
ul li{
    list-style: none;

}
ul li a{
    text-decoration: none;
    color: white;
}
.nav ul{
    display: flex;
    justify-content:center;
    align-items:center ;

}
.nav ul li{
    margin-right: 1rem;
    font-size: 1.5rem;
    /* padding: 1rem; */
}
.nav ul li :hover{
    background-color: black;
}
.content{
    height:70vh;
    width: 100vw;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content .news{
    height: 25rem;
    width: 20rem;
    margin: 3px;
    background-color: #f1f1f1f1;
    /* border: 1px solid red; */
}
.footer{
    width: 100vw;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}