*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    
}
.container{
    height: 80vh;
    width: 100vw;
    /* background-color: yellow; */
    display: flex;
}



.left{
    width: 50%;
    height: 80vh;
    /* background-color: aquamarine; */
    justify-content:right;
    display: flex;
    align-items:center;
}
   
.right{
    width: 50%;
    height: 80vh;
    /* background-color: rgb(4, 3, 3); */
     /* justify-content:left;
    display: flex;
    align-items: center; */
    padding: 50px;
    padding-left: 0;
    margin-left: 15px;
   
}
.nav{
    width: 100%;
    height: 10vh;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color:black;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul li{
    margin-right: 1rem;
    font-size: 1rem;
}
.nav ul li:hover{
    background-color: red;
}
.foot{
    width: 100%;
    height: 10vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#form{
    height: 25em;
    width: 20em;
    border: 1px solid black;
    padding:50px;
    border-radius: 10px;
   
}
#text{
    padding: 5px;
    padding-right: 20px;
    border: 1px solid black;
}
#pass{
    padding: 5px;
    padding-right: 20px;
    border: 1px solid black;
}
button{
    background-color:rgb(10, 102, 163) ;
    color: white;
    width: 90%;
    border-radius: 1.5rem;
}
#form2{
    height: 3em;
    width: 20em;
    border: 1px solid black;
    margin:1em;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
#anchor{
    text-decoration: none;
}
#pa:hover{
    color: red;

}
#form3{
    height:1em;
    width: 20em;
    
    margin:1em;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
#form4{
    height:1em;
    width: 20em;
    padding-left:20px;
    margin:1em;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
#new{
    margin: 15px;
}
/* #select{
border: 0.2px solid black;

} */