*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container1{
    height: 100vh;
    width: 100vw;
    background-color:#f1f1f1;
    display: flex;
    border-top-right-radius: 50px;

}
.left{
    height: 100%;
    width: 50%;
    background-color:#f1f1f1;
    padding:0.1rem ;
    
}

.content1{
    height: 50%;
    width: 100%;
    background-color:rgb(250, 175, 37);
    display: flex;
}


.content1-left{
    height: 100%;
    width: 50%;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content1-right{
    height: 100%;
    width: 50%;
    background-color:rgb(250, 175, 37);
    
}
.text{
    color: white;
    padding-top: 2rem;
   
}
.content1-right{
    display: flex;
    align-items: center;
    justify-content: left;
}
.content2{
    height: 22%;
    width: 100%;
    background-color:#f1f1f1;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.box{
    height: 100%;
    width: 40%;
    /* border: 1px solid red; */
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
}
.content3{
    height: 28%;
    width: 100%;
    background-color:rgb(250, 175, 37);
    display: flex;
    
    
}
.content3-left{
    height: 100%;
    width: 50%;
    background-color: burlywood;

}
.content3-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}
.right{
    height: 100%;
    width: 50%;
    background-color: blanchedalmond;
    margin-left: 0.5rem;
    
}
.div1{
    height: 25%;
    width: 100%;
    background-color:#f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div2{
    height: 30%;
    width: 100%;
    background-color:#f1f1f1;
    padding: 0.2rem;
    border: 1px solid #f1f1f1;
    display: flex;
}
.leftdiv{
    height: 100%;
    width: 50%;
    background-color: rgb(250, 175, 37);
    padding: 1rem;

}
.div3{
    height: 30%;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;

}
.b1{
    height: 100%;
    width: 40%;
    
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.div4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* background-image: url('div4.webp'); */
    background-color: #f1f1f1;
}