*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    background-color:rgba(225, 216, 216, 0.737);
}
.left{
    width:50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem;

}
.right{
    width:50%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
 

}
.left #heading{
    font-size: 4rem;
color: rgb(60, 60, 199);
}
.left .para{
    font-size: 1.3rem;
}
.right .login-container form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 25rem;
    height: 25rem;
    justify-content: space-around;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.733);
    border: 2px solid #f1f1f1;
    margin-bottom: 2rem;

}
.right .login-container form #login-button{
    color: white;
    background-color: rgb(64, 64, 222);
    border: white;
    padding-right: 4rem;
    padding-left: 4rem;
    border-radius:0.3rem;
    font-size: 25px;
    font-weight: 600;
    border: none;
    align-self: center;
}
#login-button:hover{
    cursor:cell;

}
#button2{
    color: white;
    background-color: green;
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
    align-self: center;

}
#button2:hover{
    cursor:grabbing;

}
#link{
    color: blue;
    text-decoration: none;
    text-align: center;
}
.input{
    padding: 0.5rem;
    border: 2px solid #f1f1f1;
    border-radius: 2px;
    font-size: 1rem;
}
#page{
    text-decoration: none;
    font-weight: 600;
}
#page:hover{
    text-decoration: underline;
}