*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: white;
    
}

.nav{
    height: 15vh;
    width: 100vw;
    background-color:white;
    padding-top:0;
    border-bottom: 2px solid #f1f1f1;
    
}
.content{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5rem;
    background-color: white;
}
.container2{
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 3rem;
    
    
}
.text{
    padding: 2rem;
}
.imagess{
    display: flex;
    flex-direction: row;
    
}
.images{ 
    background-image: url('katie-zaferes.png'); 
     height: 25rem;
    width: 25rem;
    background-repeat: no-repeat;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
}
button{
    color: black;
    background-color: white;
    height: 1.7rem;
    width: 5rem;
    border-radius: 0.5rem;
    border: none;
}
button:hover{
    background-color: gray;
    cursor:grab;
}
.image2{
    background-image: url('wedding-photography.png');
    height: 25rem;
    width: 25rem;
    background-repeat: no-repeat;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
}
.image3{
    background-image: url('mountain-bike.png');
    height: 25rem;
    width: 25rem;
    background-repeat: no-repeat;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
}