*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:orange;
}
.container{
    height: 65vh;
    width: 65vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 15rem;
}
.box{
    height: 200px;
    width: 200px;
    position: relative;
    margin-right: 3rem;
    margin-bottom:3rem ;

}
.box img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    filter: grayscale(100%);
   
   

}
.box img:hover{
filter: grayscale(0%);
transform: scale(1.5);
transition: transform 1s ease-in;
box-shadow: 3px 3px 15px black;
/* filter: drop-shadow(10px 10px 15px black);  */
}
 p{
    color:orange;
    opacity: 0;
    position: absolute;
    transform: translate(-80px);
    left: 40px;
    font-size: 2rem;
    
}
.box:hover p{
    opacity: 1;
    transform: translateY(-20px);
    transition: transform 2s;

}