*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    /* background-color: aquamarine; */
}
.nav{
    height: 15%;
    width: 100vw;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
}
#button1{
    height: 3rem;
    width: 6rem;
    color: black;
    background-color:#f1f1f1;
    border: none;
    font-size: 1rem;
}
#button1:hover{
    color: yellowgreen;
    text-decoration: underline;
}
.content{
    height: 85%;
    width: 100%;
    background-color: bisque;
    display: flex;
}
.left{
    width: 60%;
    height:100%;
    background-color: #f1f1f1;
}
.right{
    width: 40%;
    height:100%;
    background-color:#f1f1f1;
    justify-content: center;
    display: flex;
    align-items: center;
}
#img2{
    height: 25rem;
    width: 35rem;
}
.left{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction:column;
  
}
#head2{
    font-size: 3rem;
}
#para2{
    font-size: 1.4rem;
}
#b3{
    height:1.5rem;
    width: 7rem;
    display: flex;
    font-size: 1rem;
    border: 1px solid gray;
    background-color: greenyellow;
    color: white;
    border-radius: 5px;
    
    
}
#b4{
    color: white;
    background-color: green;
    height:1.5rem;
    width: 7rem;
    display: flex;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
}
#b3:hover{
    color: black;
    cursor:cell;
   
}
#b4:hover{
    color: black;
    cursor:cell;
}
.newbutton{
    display: flex;
   
}

