*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 10vh;
    width: 100vw;
    background-color: black;
    padding-left: 10px;
    padding-top: 5px;
  
   
}
button{
    height: 3em;
    width: 6em;
    border-radius: 8px;
    background-color: red;
    color: white;
    align-items: center;
    border-color: black;
    
   
}
.head{
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    padding-top: 0px;
    margin-top:0px ;
}
.content{
    height: 45vh;
    width: 100vw;
    background-color: rgb(9, 9, 9);
    display: flex;
    justify-content: center;
    align-items:center ;
    padding-top: 25px;
}
.b1{
    height: 90%;
    width: 40%;
    border: 3px solid white;
    margin-left: 5px;
    
}
.b2{
    height: 90%;
    width: 40%;
    border: 3px solid white;
    margin-left: 30px;
}
.b3{
    height: 90%;
    width: 40%;
    border: 3px solid white;
    margin-left: 4px;
    padding: 5px;
}
.b4{
    height: 90%;
    width: 40%;
    border: 3px solid white;
    margin-left: 30px;
}
.content2{
    height: 45vh;
    width: 100vw;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items:center ;
}
 #button2{
    height: 3em;
    width: 7em;
    border-radius: 3px;
    background-color:rgb(185, 178, 178);
    color: white;
margin-left: 80rem;
    border-color: black;

   

}