*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 2fr;
    grid-template-rows:0.3fr 0.3fr 2fr;
    grid-template-areas: "menu nav1"
                          "menu nav2"
                          "menu content";
                          

}
.menu{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    
}

.nav1{
    grid-area: nav1;
    display: flex;
    flex-direction: row;
    position: relative;
   
   
}
.nav2{
    grid-area: nav2;
}

#search{
    height: 2.5rem;
    width: 27rem;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 1rem;
   
}
#logo{
    padding-top: 1rem;
    height: 4rem;
}
#search1{
    /* border: 1px solid gray; */
    position: absolute;
    right: 41rem;
    top: 0.3rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;

    
}
#mic{
    padding-top: 1rem;
    padding-left: 0.5rem;
}
#record{
    padding-top: 1rem;
}
#bell{
    padding-top: 1rem;
}
.record-icon{
    display: flex;
    justify-content: space-around;
    width: 10rem;
    position: absolute;
    right: 3rem;
}
.nav2 ul li{
   border: 2px solid gray;
   border-radius: 1rem;
   background-color: #f1f1f1;
   margin: 5px;
   padding: 0.7rem;

}
ul li a{
    text-decoration: none;
   
    
}
ul li{
    list-style: none;
}
ul{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.nav2 ul li:hover{
    background-color: gray;
}
.home{
    margin-top: 5rem;
}
button{
    border-radius: 50%;
    padding: 0.5rem;
    color: black;
    background-color:violet;
    border: none;
}
.subscribe{
    padding-top: 1rem;
}
.history{
    padding-top: 1rem;
}
.like{
    padding-top: 1rem;
}
.content{
    grid-area: content;
    display: flex;
    flex-wrap: wrap;

}
.c1{
    height: 42%;
    width: 30%;
    border:2px solid #f1f1f1;
    border-radius: 1rem;
    margin: 1rem;  
}

    